@model TSHis2.Models.Diagnosis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Diagnosis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiagnosisId" />
            <div class="form-group">
                <label asp-for="VisitId" class="control-label"></label>
                <select asp-for="VisitId" class="form-control" asp-items="ViewBag.VisitId"></select>
                <span asp-validation-for="VisitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Examiation" class="control-label"></label>
                <input asp-for="Examiation" class="form-control" />
                <span asp-validation-for="Examiation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drugs" class="control-label"></label>
                <input asp-for="Drugs" class="form-control" />
                <span asp-validation-for="Drugs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tests" class="control-label"></label>
                <input asp-for="Tests" class="form-control" />
                <span asp-validation-for="Tests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis1" class="control-label"></label>
                <input asp-for="Diagnosis1" class="form-control" />
                <span asp-validation-for="Diagnosis1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorDecision" class="control-label"></label>
                <input asp-for="DoctorDecision" class="form-control" />
                <span asp-validation-for="DoctorDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisDate" class="control-label"></label>
                <input asp-for="DiagnosisDate" class="form-control" />
                <span asp-validation-for="DiagnosisDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisLocation" class="control-label"></label>
                <input asp-for="DiagnosisLocation" class="form-control" />
                <span asp-validation-for="DiagnosisLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
