@model TSHis2.Models.Diagnosis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Diagnosis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VisitId" class="control-label"></label>
                <input asp-for="VisitId" class="form-control" value="@ViewBag.visitId" readonly/>
                @*<select asp-for="VisitId" class ="form-control" asp-items="ViewBag.VisitId"></select>*@
            </div>
            @*<div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <select asp-for="EmpId" class ="form-control" asp-items="ViewBag.EmpId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Examiation" class="control-label"></label>
                <input asp-for="Examiation" class="form-control" />
                <span asp-validation-for="Examiation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis1" class="control-label"></label>
                <input asp-for="Diagnosis1" class="form-control" />
                <span asp-validation-for="Diagnosis1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorDecision" class="control-label"></label>
                <input asp-for="DoctorDecision" class="form-control" />
                <span asp-validation-for="DoctorDecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisDate" class="control-label"></label>
                <input asp-for="DiagnosisDate" class="form-control" />
                <span asp-validation-for="DiagnosisDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisHour" class="control-label"></label>
                <input asp-for="DiagnosisHour" class="form-control" />
                <span asp-validation-for="DiagnosisHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisLocation" class="control-label"></label>
                <input asp-for="DiagnosisLocation" class="form-control" />
                <span asp-validation-for="DiagnosisLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="width:150px" />
                <a asp-controller="Visits" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
